{
  "ClientID": "ClientID",
  "ClientSecret": "ClientSecret",
	"Endpoint": {
		"AuthURL":  "https://stage.trainasone.com/oauth/authorise",
		"TokenURL": "https://stage.trainasone.com/oauth/token"
	}
}
